<p>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-icon-button class="example-icon" aria-label="Home" routerLink = "home">
        <mat-icon>home</mat-icon>
      </button>
      <span>Bethel Industries</span>
      <span class="example-main-spacer"></span>
      <a routerLink = "ourproduct"><span>Our Products</span></a>
      <span class="example-spacer"></span>
      <a routerLink = "aboutus"><span>About Us</span></a>
      <span class="example-spacer"></span>
      <a routerLink = "contactus"><span>Contact Us</span></a>
    </mat-toolbar>
  </p>