<p>
  <mat-toolbar color="primary" class="mat-elevation-z6">

    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div>
        <button mat-button routerLink='home'>
          <mat-icon>home</mat-icon>
          <span class="logo">{{title}}</span>
        </button>
      </div>
      <div *ngIf="!deviceXs">
        <button mat-button routerLink='home'>Home</button>
        <button mat-button routerLink='ourproduct'>Our Product</button>
        <button mat-button routerLink='aboutus'>About Us</button>
        <button mat-button routerLink='contactus'>Contact Us</button>

      </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs">
      <div *ngIf="deviceXs">
        <button mat-button routerLink='home'>Home</button>
        <button mat-button routerLink='ourproduct'>Our Product</button>
        <button mat-button routerLink='aboutus'>About Us</button>
        <button mat-button routerLink='contactus'>Contact Us</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>